<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAirline</display-name>
    <servlet-name>DeleteAirline</servlet-name>
    <servlet-class>com.flyaway.controllers.airlines.DeleteAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAirline</servlet-name>
    <url-pattern>/DeleteAirline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirline</display-name>
    <servlet-name>AddAirline</servlet-name>
    <servlet-class>com.flyaway.controllers.airlines.AddAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirline</servlet-name>
    <url-pattern>/AddAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAirline</display-name>
    <servlet-name>UpdateAirline</servlet-name>
    <servlet-class>com.flyaway.controllers.airlines.UpdateAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAirline</servlet-name>
    <url-pattern>/UpdateAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllAirlinesServlet</display-name>
    <servlet-name>GetAllAirlinesServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.airlines.GetAllAirlinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllAirlinesServlet</servlet-name>
    <url-pattern>/GetAllAirlinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSource</display-name>
    <servlet-name>DeleteSource</servlet-name>
    <servlet-class>com.flyaway.controllers.sources.DeleteSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSource</servlet-name>
    <url-pattern>/DeleteSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSource</display-name>
    <servlet-name>AddSource</servlet-name>
    <servlet-class>com.flyaway.controllers.sources.AddSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSource</servlet-name>
    <url-pattern>/AddSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSource</display-name>
    <servlet-name>UpdateSource</servlet-name>
    <servlet-class>com.flyaway.controllers.sources.UpdateSource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSource</servlet-name>
    <url-pattern>/UpdateSource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSources</display-name>
    <servlet-name>GetAllSources</servlet-name>
    <servlet-class>com.flyaway.controllers.sources.GetAllSources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSources</servlet-name>
    <url-pattern>/GetAllSources</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDestination</display-name>
    <servlet-name>DeleteDestination</servlet-name>
    <servlet-class>com.flyaway.controllers.destinations.DeleteDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDestination</servlet-name>
    <url-pattern>/DeleteDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDestination</display-name>
    <servlet-name>AddDestination</servlet-name>
    <servlet-class>com.flyaway.controllers.destinations.AddDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDestination</servlet-name>
    <url-pattern>/AddDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDestination</display-name>
    <servlet-name>UpdateDestination</servlet-name>
    <servlet-class>com.flyaway.controllers.destinations.UpdateDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDestination</servlet-name>
    <url-pattern>/UpdateDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllDestinations</display-name>
    <servlet-name>GetAllDestinations</servlet-name>
    <servlet-class>com.flyaway.controllers.destinations.GetAllDestinations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDestinations</servlet-name>
    <url-pattern>/GetAllDestinations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.flyaway.controllers.flights.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlight</display-name>
    <servlet-name>UpdateFlight</servlet-name>
    <servlet-class>com.flyaway.controllers.flights.UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/UpdateFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlight</display-name>
    <servlet-name>DeleteFlight</servlet-name>
    <servlet-class>com.flyaway.controllers.flights.DeleteFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlight</servlet-name>
    <url-pattern>/DeleteFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllFlights</display-name>
    <servlet-name>GetAllFlights</servlet-name>
    <servlet-class>com.flyaway.controllers.flights.GetAllFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFlights</servlet-name>
    <url-pattern>/GetAllFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResults</display-name>
    <servlet-name>SearchResults</servlet-name>
    <servlet-class>com.flyaway.controllers.SearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResults</servlet-name>
    <url-pattern>/SearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.flyaway.controllers.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerDetails</display-name>
    <servlet-name>PassengerDetails</servlet-name>
    <servlet-class>com.flyaway.controllers.PassengerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDetails</servlet-name>
    <url-pattern>/PassengerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDetails</display-name>
    <servlet-name>CardDetails</servlet-name>
    <servlet-class>com.flyaway.controllers.CardDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDetails</servlet-name>
    <url-pattern>/CardDetails</url-pattern>
  </servlet-mapping>
</web-app>